# ahh this typo
alias gti="git"
alias standup="git log --since=yesterday --pretty=format:\"%cn - %s\""

# Bash profile
alias bp="nano ~/.bash_profile"
alias sbp="source ~/.bash_profile"

# Android Stuffs
alias adb="~/Library/Android/sdk/platform-tools/adb"
alias uiauto="~/Library/Android/sdk/tools/bin/uiautomatorviewer"
deep-link() {
    url=$(echo $1 | sed 's/&/\\&/g')
    adb shell am start -a "android.intent.action.VIEW" -d "${url}"
}

# Kotlin
alias kotlin-repl='/usr/local/bin/kotlinc-jvm'

# Gradle
# Cleanup gradle caches - props: https://github.com/gradle/gradle/issues/2304
alias gradle-cache-cleanup="du -hs ~/.gradle && find ~/.gradle -type f -atime +30 -delete && find ~/.gradle -type d -mindepth 1 -empty -delete && du -hs ~/.gradle"
alias gradle-remove-locks="find ~/.gradle/ -type f -name '*.lock' -delete"

# Highlight grep.
alias grep="grep --color"

# weather
alias weather="curl -4 wttr.in/Athens"

# Backup
alias backup=""

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias ll="ls -lAa ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Trim new lines and copy to clipboard
alias clipboard="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanhere="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"
